<!-- this layout function injects everything below it into the boilerplate where we call the ejs function body -->
<% layout('layouts/boilerplate.ejs')%>
<h1>Welcome to the Campgrounds</h1>
<div><a href="/campgrounds/new">Add Campground</a></div>
<ul>
  <!-- loops over each campground and makes us an element for each one in the array, however many that is -->
  <% for (let campground of campgrounds) {%>
  <li>
    <!-- sets each campground name to be a link, to the id that is created by mongoDB the _id identifier -->
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% }%>
</ul>
