<!-- this layout function injects everything below it into the boilerplate where we call the ejs function body -->
<% layout('layouts/boilerplate.ejs')%>
<form action="/campgrounds" method="POST">
  <div>
    <label for="title">Title:</label>
    <input id="title" type="text" name="campground[title]"" />
    <label for="location">Location:</label>
    <input id="location" type="text" name="campground[location]]"" />
  </div>
  <button>Add Campground</button>
</form>
<a href="/campgrounds">All Campgrounds</a>
